<!DOCTYPE html>
<html>
  <head>
    <link type="text/css" rel="stylesheet" href="css/materialize.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="css/custom_styles.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="iconfont/material-icons.css"  media="screen,projection"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body>
    <header>
      <ul id="slide-out" class="side-nav fixed grey darken-3">

      </ul>

      <div class="navbar-fixed">
        <nav>
          <div class="nav-wrapper white">
            <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons black-text">menu</i></a>
          </div>
        </nav>
      </div>
    </header>
    <main>
      <div class="container">
        <!-- Page Content goes here -->
        <div class="row">
          <div class="col s12 m6 l7 offset-m3">

            <div class="card">
              <div class="card-content card-title">
                <i class="material-icons grey-text text-darken-1 left">remove_red_eye</i>
                <span class="bold">TEST CARD1</span>
                <a class="waves-effect waves-light btn-flat right"><i class="material-icons">keyboard_arrow_right</i></a>
                <a class="waves-effect waves-light btn-flat right"><i class="material-icons">keyboard_arrow_left</i></a>
              </div>
              <div class="divider"></div>
              <div class="card-content">
              </div>
            </div>

          </div>

          <div class="col s12 m6 l5 offset-m3">
            <div class="card">
              <div class="card-content card-title valign-wrapper">
                <i class="valign material-icons grey-text text-darken-1 left">hourglass_empty</i>
                <span class="bold">TEST CARD2</span>
              </div>
              <div class="divider"></div>
              <div class="card-content">
                <div class="section">
                  <p>DAVID+GILMOUR_Bengaluru.docx</p>
                  <div class="progress  blue lighten-4">
                    <div class="determinate blue" style="width: 100%"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
      <script type="text/javascript" src="js/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="js/materialize.js"></script>
      <script type="text/javascript" src="js/Chart.js"></script>
      <script type="text/javascript" src="js/custom_js.js"></script>
  </body>
</html>
